= form.fields_for :attachments, resource.attachments.build do |a|
  = render 'shared/attachment_form', f: a
.links= link_to_add_association 'Add file', form, :attachments, partial: 'shared/attachment_form'
