// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question { display: none; }
.space { padding-top: 20px; }

.question {
  border: 2px solid #dedede;
  background-color: #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
